.scrum-points-table {
  overflow: auto;

  &__table {
    width: 100%;

    font-size: 14px;

    border-collapse: collapse;

    th, td {
      padding: 10px;
    }

    th {
      min-width: 170px;

      font-weight: 500;

      background-color: $neutral-lighten;

      &:first-of-type {
        text-align: left;
      }
    }

    tbody tr:nth-child(even) > * {
      background-color: $neutral-lighten;
    }

    tbody tr:nth-child(odd) > * {
      background-color: $white;
    }

    thead tr:first-child > *:first-child {
      border-top-left-radius: $border-radius;
    }

    thead tr:first-child > *:last-child {
      border-top-right-radius: $border-radius;
    }

    tbody tr:last-child > *:first-child {
      border-bottom-left-radius: $border-radius;
    }

    tbody tr:last-child > *:last-child {
      border-bottom-right-radius: $border-radius;
    }
  }

  &__sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__summary {
    td {
      font-weight: 500;

      border-top: 1px solid $neutral-light;

      &:not(:first-of-type) {
        text-align: center;
      }
    }
  }
}
