.modal {
  $block-name: &;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px 16px;

  background-color: rgba($neutral-darken, 0.5);

  &__window {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    padding: 20px 16px;

    background-color: $white;
    border-radius: $border-radius;
  }

  &--large #{$block-name}__window {
    max-width: 1000px;
  }

  &--big #{$block-name}__window {
    max-width: 750px;
  }

  &--small #{$block-name}__window {
    max-width: 250px;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;

    display: block;
    padding: 0;

    color: $primary;
    font-family: inherit;

    background: none;
    border: none;

    cursor: pointer;

    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: 10px;
      height: 10px;
    }
  }

  &__content {
    max-height: calc(100vh - 80px);
    overflow: auto;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
