.checkbox {
  $block-name: &;

  position: relative;

  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: fit-content;

  cursor: pointer;

  &__element {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);

    &:focus {
      outline: none;
    }
  }

  &__fake {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;

    border: 1px solid $neutral;
    border-radius: $border-radius;

    svg {
      width: 12px;
      height: 12px;

      visibility: hidden;
      opacity: 0;

      transition: 0.3s;

      fill: $primary;
    }
  }

  &__element:checked ~ #{$block-name}__fake svg {
    visibility: visible;
    opacity: 1;
  }

  &__label {
    font-size: 13px;

    user-select: none;
  }
}
