.select {
  display: block;

  &__element {
    display: block;
    width: 100%;
    padding: 5px 10px;

    font: inherit;

    border: 1px solid $neutral;
    border-radius: $border-radius;

    &:focus {
      outline: none;
    }
  }
}
