.extension-popup {
  position: relative;

  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 320px;
  min-height: 500px;

  &__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    padding: 20px 16px;
  }

  &__head {
    margin-bottom: 10px;
  }

  &__title-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }

  &__title {
    margin: 0;

    font-size: 20px;
  }

  &__description {
    margin-top: 10px;

    color: $neutral;
    font-size: 12px;

    a {
      transition: color 0.3s ease;

      &:link,
      &:visited {
        color: inherit;
      }

      span {
        color: $b-24;

        transition: color 0.3s ease;
      }

      &:hover {
        &:link,
        &:visited,
        span {
          color: $primary;
        }
      }
    }
  }

  &__notice {
    font-size: 12px;
  }

  &__footer {
    position: sticky;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px;

    background-color: $white;

    border-top: 1px solid $neutral-lighten;
  }
}
