.tip {
  display: flex;
  flex-grow: 0 !important;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  padding: 0;

  color: $neutral-dark;
  font-family: inherit;

  background: none;
  border: 1px solid $neutral-light;
  border-radius: 50%;

  cursor: pointer;

  transition: color 0.3s ease, border-color 0.3s ease;

  svg {
    width: 8px;
    height: 8px;
  }

  &:hover {
    color: $primary;

    border-color: $primary;

    svg {
      fill: $primary;
    }
  }

  &:focus {
    outline: none;
  }
}
