.info-modal {
  $block-name: &;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 14px;
  }

  &__row {
    font-size: 13px;
    text-align: center;

    a:not(#{$block-name}__github) {
      transition: color 0.3s ease;

      &:link,
      &:visited {
        color: inherit;
      }

      &:hover {
        &:link,
        &:visited {
          color: $primary;
        }
      }
    }
  }

  &__github {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;

    text-decoration: none;

    transition: color 0.3s ease;

    &:link,
    &:visited {
      color: inherit;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      &:link,
      &:visited {
        color: $neutral-dark;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
