.inputs-group {
  $block-name: &;

  &:not(:last-child) {
    padding-bottom: 20px;

    border-bottom: 1px solid $neutral-lighten;
  }

  &__head {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__button {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0;

    font-weight: 600;

    font-size: 13px;
    font-family: inherit;
    text-align: left;

    background: none;
    border: none;

    cursor: pointer;

    svg {
      width: 7px;
      height: 7px;

      transition: transform 0.3s ease;
    }
  }

  &.active #{$block-name}__button svg {
    transform: rotate(180deg);

    fill: $primary;
  }

  &__new {
    padding: 1px 2px;

    color: $neutral;

    font-size: 8px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    border: 1px solid $neutral-light;
    border-radius: 3px;

    pointer-events: none;
  }

  &__body {
    margin-top: 20px;
  }
}

.v-enter-active,
.v-leave-active {
  overflow: hidden;

  transition: height 0.3s ease, opacity 0.3s ease;

  pointer-events: all;
  will-change: height, opacity;
}

.v-enter-from,
.v-leave-to {
  height: 0 !important;

  opacity: 0;

  pointer-events: none;
}
