.user-tasks-modal {
  &__head {
    margin-bottom: 20px;

    font-weight: 500;
  }

  &__table-wrapper {
    overflow: auto;
  }

  &__table {
    width: 100%;

    font-size: 14px;

    border-collapse: collapse;

    th, td {
      padding: 10px;
    }

    th {
      font-weight: 500; 
      white-space: nowrap;

      background-color: $neutral-lighten;

      &:first-of-type {
        text-align: left;
      }
    }

    tbody tr:nth-child(even) > * {
      background-color: $neutral-lighten;
    }

    tbody tr:nth-child(odd) > * {
      background-color: $white;
    }

    thead tr:first-child > *:first-child {
      border-top-left-radius: $border-radius;
    }

    thead tr:first-child > *:last-child {
      border-top-right-radius: $border-radius;
    }

    tbody tr:last-child > *:first-child {
      border-bottom-left-radius: $border-radius;
    }

    tbody tr:last-child > *:last-child {
      border-bottom-right-radius: $border-radius;
    }
  }

  &__points {
    text-align: center;
  }

  &__table-summary {
    td {
      font-weight: 500;

      border-top: 1px solid $neutral-light;

      &:not(:first-of-type) {
        text-align: center;
      }
    }
  }
}
