.crm-user {
  position: relative;

  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;

  &__photo {
    position: relative;

    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;

    border-radius: 50%;

    img {
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    flex-shrink: 0;

    font-size: 13px;
    text-decoration: none;

    transition: color 0.3s ease;

    &:link,
    &:visited {
      color: #535c69;
    }

    &:hover {
      color: #2067b0;
    }

    &:focus {
      outline: none;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
      height: 100%;

      content: '';
    }
  }
}
