#app-commit-button {
  display: contents;
}

.commit-button {
  display: inline-block;
  padding: 0;

  color: inherit;

  background: none;
  border: none;
  cursor: pointer;

  transition: opacity 0.3s ease, color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.5;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  &.copied {
    color: green;

    pointer-events: none;
  }
}
