@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

.commit-button,
.decompose-task-button {
  font-size: 16px;
  color: inherit;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s, opacity 0.3s;
  margin-left: 10px;
}

.commit-button:not(.commit-button--success):hover,
.decompose-task-button:hover {
  opacity: 0.8;
}

.commit-button--success {
  color: lightgreen;
}

.remove-notifications {
  font-size: 13px;
  color: #828b95;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s, opacity 0.3s;
}

.remove-notifications[disabled] {
  cursor: default;
  opacity: 0.7;
}

.remove-notifications:not(.remove-notifications--success):hover {
  color: #3a3d42;
}

.remove-notifications--success {
  color: lightgreen;
}

.pts-btn-scrum-points {
  --ui-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='table'%3E%3Cpath d='M18,4.25H6A2.75,2.75,0,0,0,3.25,7V17A2.75,2.75,0,0,0,6,19.75H18A2.75,2.75,0,0,0,20.75,17V7A2.75,2.75,0,0,0,18,4.25ZM19.25,7v4.25h-6.5V5.75H18A1.25,1.25,0,0,1,19.25,7ZM6,5.75h5.25v5.5H4.75V7A1.25,1.25,0,0,1,6,5.75ZM4.75,17V12.75h6.5v5.5H6A1.25,1.25,0,0,1,4.75,17ZM18,18.25H12.75v-5.5h6.5V17A1.25,1.25,0,0,1,18,18.25Z'/%3E%3C/g%3E%3C/svg%3E");
}

.pts-btn-sprint-history {
  --ui-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='history'%3E%3Cpath d='M18.05,6.08a8.39,8.39,0,0,0-11.84,0L5,7.29V4.38a.75.75,0,0,0-1.5,0V9.12a.76.76,0,0,0,.75.76H9a.75.75,0,0,0,0-1.5H6L7.27,7.14a6.88,6.88,0,0,1,9.72,0c6.19,6.69-3,15.91-9.72,9.72a.75.75,0,0,0-1.06,0,.74.74,0,0,0,0,1.06A8.37,8.37,0,0,0,18.05,6.08Z'/%3E%3Cpath d='M12,7.75a.76.76,0,0,0-.75.75V12a.75.75,0,0,0,.22.53L14,15a.74.74,0,0,0,.53.22A.75.75,0,0,0,15,14l-2.28-2.28V8.5A.76.76,0,0,0,12,7.75Z'/%3E%3C/g%3E%3C/svg%3E");
}

.pts-btn-scrum-summary {
  --ui-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='chart-line'%3E%3Cpath d='M4.5,20.25a.76.76,0,0,1-.75-.75V4.5a.75.75,0,0,1,1.5,0v15A.76.76,0,0,1,4.5,20.25Z'/%3E%3Cpath d='M19.5,20.25H4.5a.75.75,0,0,1,0-1.5h15a.75.75,0,0,1,0,1.5Z'/%3E%3Cpath d='M14,14.75a.74.74,0,0,1-.53-.22L11,12.06,8.53,14.53a.75.75,0,0,1-1.06-1.06l3-3a.75.75,0,0,1,1.06,0L14,12.94l3.47-3.47a.75.75,0,0,1,1.06,1.06l-4,4A.74.74,0,0,1,14,14.75Z'/%3E%3Cpath d='M18.5,13.84a.76.76,0,0,1-.75-.75V10.25H15a.75.75,0,0,1,0-1.5h3.5a.76.76,0,0,1,.75.75v3.59A.76.76,0,0,1,18.5,13.84Z'/%3E%3C/g%3E%3C/svg%3E");
}

.pts-btn-task-search {
  --ui-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='search'%3E%3Cpath d='M10.77,18.3a7.53,7.53,0,1,1,7.53-7.53A7.53,7.53,0,0,1,10.77,18.3Zm0-13.55a6,6,0,1,0,6,6A6,6,0,0,0,10.77,4.75Z'/%3E%3Cpath d='M20,20.75a.74.74,0,0,1-.53-.22L15.34,16.4a.75.75,0,0,1,1.06-1.06l4.13,4.13a.75.75,0,0,1,0,1.06A.74.74,0,0,1,20,20.75Z'/%3E%3C/g%3E%3C/svg%3E");
}
