@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

.commit-button,
.decompose-task-button {
  font-size: 16px;
  color: inherit;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s, opacity 0.3s;
  margin-left: 10px;
}

.commit-button:not(.commit-button--success):hover,
.decompose-task-button:hover {
  opacity: 0.8;
}

.commit-button--success {
  color: lightgreen;
}

.remove-notifications {
  font-size: 13px;
  color: #828b95;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s, opacity 0.3s;
}

.remove-notifications[disabled] {
  cursor: default;
  opacity: 0.7;
}

.remove-notifications:not(.remove-notifications--success):hover {
  color: #3a3d42;
}

.remove-notifications--success {
  color: lightgreen;
}
