.user-points {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  span {
    color: $neutral;

    transition: color 0.3s ease;
  }

  &__button {
    padding: 0;

    font: inherit;

    text-decoration: underline;

    background: none;
    border: none;
    cursor: pointer;
    text-decoration-style: dotted;
    text-decoration-color: $neutral;

    transition: color 0.3s ease;

    &:hover {
      color: $neutral-light;

      span {
        color: $neutral-light;
      }
    }

    &:focus {
      outline: none;
    }
  }
}
