.delete-all-task-messages-button {
  display: inline;
  margin-left: 10px;
  padding: 0;

  color: #828b95;
  font-size: 13px;
  font-family: inherit;

  background: none;
  border: none;
  cursor: pointer;

  transition: color 0.3s, opacity 0.3s;

  &:hover {
    color: #3a3d42;
  }

  &:disabled {
    cursor: default;
    opacity: 0.7;

    pointer-events: none;
  }
}
