.scrum-summary-points {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__button {
    padding: 0;

    background: none;
    border: none;
    cursor: pointer;

    transition: color 0.3s ease;

    &:hover {
      color: $primary;
    }

    &.copied {
      color: green;

      pointer-events: none;
    }

    svg {
      display: block;
      width: 14px;
      height: 14px;
    }
  }
}
