.scrum-points-modal {
  &__head {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }

  &__button {
    display: block;
    padding: 0;

    background: none;
    border: none;
    cursor: pointer;

    transition: color 0.3s ease;

    &:hover {
      color: $primary;
    }

    &:focus {
      outline: none;
    }

    svg {
      display: block;
      width: 14px;
      height: 14px;
    }
  }

  &__loader {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;

    text-align: center;
  }

  &__notice {
    padding: 10px;

    font-size: 14px;
    text-align: center;

    background: rgba(0, 0, 0, 0.05);
    border-radius: $border-radius;
  }
}
