$border-radius: 5px;

$primary: #cc0000;
$primary-light: #e00000;
$b-24: #2fc6f7;
$white: white;
$neutral-lighten: #eeeeef;
$neutral-light: #c4c4c4;
$neutral: #a6a6a6;
$neutral-dark: #757575;
$neutral-darken: #333333;
